
<h1 class="display-4">Admin Login Page</h1>

<body>
    <form method="post">
        <fieldset>
            <legend>Login Admin</legend>
            <div>
                <label for="CompanyName">username:</label>
                <input type="text" name="CompanyName" value="" />
            </div>
            <div>
                <label for="ContactName">password:</label>
                <input type="text" name="ContactName" value="" />
            </div>


        </fieldset>
    </form>
</body>

@using (Html.BeginForm("AdminPanel", "Admin"))
{

<input type="submit" value="Login" />

}