
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Welcome Back!</h2>

<style>
    html,
    body {
        
        font-family: "Roboto Mono", monospace;
    }


    .fill {

        font-size: 20px;
        font-weight: 200;
        letter-spacing: 1px;
        padding: 13px 50px 13px;
        outline: 0;
        border: 1px solid black;
        cursor: pointer;
        position: relative;
        background-color: rgba(0, 0, 0, 0);
    }

        .fill::after {
            content: "";
            background-color: #ffe54c;
            width: 100%;
            z-index: -1;
            position: absolute;
            height: 100%;
            top: 7px;
            left: 7px;
            transition: 0.2s;
        }

        .fill:hover::after {
            top: 0px;
            left: 0px;
        }
    
</style>

<body>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap" rel="stylesheet" />


    <br />
    <h3> Navigate to: </h3>
    <br />
    <br />
    <a href="@Url.Action("Index", "MovieAdmin")" class="fill">Movies List</a>
    <a href="@Url.Action("Index", "UserAdmin")" class="fill">Users List</a>
    <a href="@Url.Action("Index", "SaloonAdmin")" class="fill">Saloon List</a>


</body>